{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Info about Flask</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur, lacus vel laoreet laoreet, ante justo porttitor enim, at sollicitudin est purus eget quam. Fusce scelerisque non odio et scelerisque. Proin suscipit vitae dolor vitae sagittis. Praesent risus ligula, vulputate vel ipsum et, rhoncus malesuada lorem. Fusce non porttitor metus, ac finibus neque. Integer nec risus aliquet, convallis diam et, luctus ante. Pellentesque ultricies sollicitudin volutpat. Curabitur dictum porttitor arcu, sit amet convallis nisl maximus eget. Pellentesque orci arcu, rutrum id turpis a, convallis maximus lectus. Sed ac felis aliquam, aliquet erat vel, aliquam tortor. Pellentesque ut massa quis ante efficitur vehicula quis ac dolor.</p>
</div>
{% endblock %}